/**
*	Author: Juri Aksenov
*	Project: phppgadmin.sourceforge.net
*	Date: Saturday, October 19, 2001
*/

/** ELEMENTS */

body, td
{
	background-color: #ffffff;
	margin: 4px 4px;
	font-family: arial;
	padding: 0px;
	font-size: 10pt;
	text-align: left;
}

body.topbar
{
	background-color: #ffffff;
	margin: 0px 0px;
	font-family: arial;
	padding: 0px;
	font-size: 10pt;
	text-align: left;
}

body.browser
{
	background-color: #ffffff;
	/*background-color: #efefef;*/
	margin: 0px 0px;
	font-family: arial;
	padding: 0px;
	font-size: 10pt;
	text-align: left;
}

h2
{
	color: #666633;
	font-size: 16;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
}

table.navbar
{
	background-color: #E6E6CC;
}

table.navbar td
{
	height: 25;
	color: #000000;
	background-color: #F3F3E9;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
}


th.data
{
	color: #000000;
	background-color: #E6E6CC;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14;
}

td.data1
{
	color: #000000;
	background-color: #F3F3E9;
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
}

td.data2
{
	color: #000000;
	background-color: #E6E6CC;
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9pt;
}

td.opbutton1 {
	color: #000000;
	background-color: #F3F3E9;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF;
	cursor: hand;
	font-family: Helvetica,Arial,Verdana;
	font-size: 9pt;
}

td.opbutton2 {
	color: #000000;
	background-color: #E6E6CC;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF;
	cursor: hand;
	font-family: Helvetica,Arial,Verdana;
	font-size: 9pt;
}

a.toplink, a.navlink {
	font-weight: bold;
}

/*

tr
{
	vertical-align: top;
}

p
{
	padding: 0px;
	margin: 0px;
}

p.message
{
	color: blue;
}

a:link
{
   color: #336699;
	font-family: arial;
	font-size: 8pt;
	text-decoration: none;
}

a:visited
{
	color: #336699;
	font-family: arial;
	font-size: 8pt;
	text-decoration: none;
}

a:hover
{
	color: #cc0000;
	font-family: arial;
	font-size: 8pt;
	text-decoration: none;
}

a:active
{
	color: #cc0000;
	font-family: arial;
	font-size: 8pt;
	text-decoration: none;
}

a.nav:link
{
   	color: #336699;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}

a.nav:visited
{
	color: #336699;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}

a.nav:hover
{
	color: #cc0000;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}

a.nav:active
{
	color: #cc0000;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}


/** CLASSES */

.tabbutton {

  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #706D41;
  border-bottom: 1px solid #706D41;
  border-left: 1px solid #FFFFFF;
  cursor: hand;
	font-family: Helvetica,Arial,Verdana;
	font-size: 9pt;
	background-color: #cecf9c;

	}

.opbutton {

  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #706D41;
  border-bottom: 1px solid #706D41;
  border-left: 1px solid #FFFFFF;
  cursor: hand;
	font-family: Helvetica,Arial,Verdana;
	font-size: 9pt;

	}

.tabheading {
  border-top: 1px solid #cecf9c;
  border-right: 1px solid #39341B;
  border-bottom: 1px solid #39341B;
  border-left: 1px solid #cecf9c;
	color: #cecf9c;
	font-family: helvetica;
	font-size: 12pt;
  font-weight: bold;
}

.table-outline
{
	height: 100%;
	width: 100%;
}

.td-heading
{
	background-color: #cecf9c;
	border-bottom: 1px solid #000000;
	height: 50px;
	text-align: left;
}

.td-navigation
{
	background-color: #efefef;
	border-right: 1px ridge #c0c0c0;
	height: 100%;
	padding: 0px;
	width: 125px;
	text-align: left;
	vertical-align: top;
}

.td-content
{
	background-color: #ffffff;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

.td-footer
{
	background-color: #cecf9c;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	height: 10px;
	padding-right: 2px;
	text-align: right;
	vertical-align: middle;
}

.td-body
{
	padding: 5px;
}

.text-normal, .inpBox
{
	font-family: arial;
	font-size: 8pt;
}

.text-heading
{
	color: #a9a9a9;
	font-family: helvetica;
	font-size: 13pt;
}

.inpButton
{
	background-color: #cecf9c;
	border: 1px solid #000000;;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
}

.tr-proper
{
	visibility : hidden;
}

/** IDs */

#content
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 100%;
}
*/